<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="APP_NAME" value="FoodApp"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console DEBUG logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Optional dev file logs -->
    <appender name="DEV_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${APP_NAME}/dev-application.log</file>
        <append>true</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEV_FILE"/>
    </root>

</configuration>
